<li>
  <div class="mesbox">
    <div class="userpic"><img src="<%= image_url 'head.jpg' %>" alt=""/></div>
    <div class="username"><strong><a href="">neekin</a> </strong></div>
    <div class="usercnt"><%= comment.comment%></div>
    <div class="pubInfo">
      <div class="attime"><%=time_ago_in_words(comment.created_at)%></div>
    </div>
  </div>
  <hr/>
</li>
