

<div class="topmenu">
    <ul>
      <li> <a href="">登录</a></li>
      <li><a href="" >注册</a></li>
      <li><%= link_to "相册",photobook_path %></li>
    </ul>

</div>
<div class="jumbotron ccccc">
  <div class="container">
    <h1>Hello</h1>
    <p>.........</p>
    <p><a class="btn btn-primary btn-large">分享您的快乐</a></p>
  </div>
</div>