<div class="topmenu">
  <ul>
    <% if !current_user %>
        <li><a href="/login">登录</a></li>
        <li><a href="/signup">注册</a></li>
    <% else %>
       <li><%= link_to current_user.username, "/info" %></li>
        <li><%= link_to "登出", logout_path %></li>
    <% end %>
    <li><%= link_to "相册", photobook_path %></li>
  </ul>



</div>
<div class="jumbotron ccccc">
  <div class="container">
    <h1>Hello</h1>

    <p>.........</p>

    <p><a class="btn btn-primary btn-large">分享您的快乐</a></p>
  </div>
</div>