<div class="topmenu">
  <ul>
    <% if !current_user %>
        <li><a href="/login">登录</a></li>
        <li><a href="/signup">注册</a></li>
    <% else %>
        <li><%= link_to current_user.username, "/info" %></li>
        <li><%= link_to "登出", logout_path %></li>
    <% end %>
  </ul>
</div>
<div class="jumbotron ccccc">
  <div class="container">
    <h1>Hello</h1>

    <div class="nav"><p>Nothing talk,Enjoy It!</p>
      <div class="navbtn">
        <ul>
          <li><%= link_to '微博', root_path %></li>
          <li><%= link_to '相册', photobook_path %></li>
        </ul>
      </div>
    </div>

    <p class="subtitle">分享您的快乐</p>


  </div>
</div>