<div class="content">
  <div class="mircoblogs">
    <div class="talkbox">
      <h4>嘿，来给大家分享点快乐的事情吧</h4>
      <textarea name="" id="msgtxt" cols="30" rows="10"></textarea>
      <a href="" class="btn btn-success btn-sm pull-right">分享</a>
    </div>
    <div class="shardlist">

    </div>
  </div>


  <div class="side">
    <div class="userinfo">
      <div class="useravatar">
        <img src="<%= image_url 'head.jpg' %>" alt=""/>
      </div>
      <div class="username">NeeKin</div>
    </div>
  </div>
</div>