// Place all the styles related to the mircoblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.talkbox {
  margin: 20px;
  padding: 10px;
  #msgtxt {
    max-width: 600px;
    max-height: 120px;
    width: 580px;
    height: 120px;
  }
}
.shardlist {
  .mesbox{
    .username {

      height: 23px;
      line-height: 23px;
    }
    .userpic  {
      height: 70px;
      width: 70px;
      float: left;
      img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }

    }
    .usercnt {

      min-height: 60px;
    }

  }

  padding: 20px;
  ul {
    list-style: none;
  }
  li {
    margin: 20px;
  }
  .pubInfo {
    .attime {
      float: left;
      margin-left:70px;
    }
    .commentbtn {
      float: right;
    }
  }
}


.userinfo
{
 margin-left: 30px;
  margin-top: 20px;
  .useravatar{
    display: inline-block;
    vertical-align:top;
    img
    {
      width: 84px;
      height: 84px;
      border-radius: 50%;
    }
  }
  .username
  {
    display: inline-block;
    vertical-align:top;
  }
}

.commentcls
{
  .msgtxt
  {
    height: 60px;
    width: 520px;
  }
}
.mircoblogs-showformid
{
  .well{
    background: rgba(237, 246, 253, 0.8);
  }
}