
.ccccc {
  background-color: #EDF6FD;
  background: rgba(237, 246, 253, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CCEDF6FD', endColorstr='#CCEDF6FD');
  .subtitle
  {
    background: rgba(115, 207, 241, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#73cff1', endColorstr='#73cff1');
    display: table;
    padding: 10px;
    color: white;

  }
}
.page-welcome {
  .content {
    margin: 0px auto;
    width: 970px;
    background-color: #EDF6FD;
    background: rgba(237, 246, 253, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CCEDF6FD', endColorstr='#CCEDF6FD');
  }
  .mircoblogs {
    width: 640px;
    min-height: 1200px;
    display: inline-block;
    vertical-align: top;
    background: #fff;

  }
  .side {
    width: 320px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
  }

}