<div class="modal fade showphotos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-photo">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>