<li>
  <div class="mesbox">
    <div class="userpic"><img src="<%= image_url 'head.jpg' %>" alt=""/></div>
    <div class="username"><strong><a href="">neekin</a> </strong></div>
    <div class="usercnt">大家好，这是新微博</div>
    <div class="pubInfo">
      <div class="attime">今天10点</div>
      <div class="commentbtn">评论</div>
    </div>
  </div>
  <hr/>
</li>